* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.loader {
    position: fixed;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0,0,.5);
    border-radius: 50%;
    background: linear-gradient(90deg, hsla(35, 79%, 68%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);
    animation: jump 3s forwards ease-in-out;
    z-index: 2;
}

.shadow {
    position: absolute;
    top: 52vh;
    background: rgba(0, 0,0,.5);
    filter: blur(5px);
    height: 5px;
    width: 60px;
    border-radius: 40%;
}

.loaderText {
    position:fixed;
    top: 56vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dot {
    font-size: 2rem;
    animation: fadeIn 1s ease-in-out infinite;
}

.HomeContent {
    opacity: 0;
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes jump {
    0% {
        transform: translateY(10px);
        height: 35px;
    }
    25% {
        transform: translateY(-40px);
        height: 40px;
    }

    50% {
        transform: translateY(10px);
        height: 35px;
    }
    80% {
        transform: translateY(-40px);
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    100% {
        border-radius: 0;
        width: 100%;
        height: 100vh;
    }
}
